*{
  margin:0px;
  padding: 0px;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 3px;
}
body{
  height:100%;
  overflow: hidden;
  background-color: #953036;
  color:white;
}

.logo{
  display:flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.body-bg-no-image {
  background: var(#953036);
}
.body-bg-image {
  background: url("./assets/bgimg.jpg") no-repeat top
    center;
  background-color: #953036;
}
/*search-container components*/
.search-container{
  border:  solid white;
  width: 50%;
  height: 35%;
  display:flex;
  background: rgb(0,0,0,0.65);
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.search-container .header h1{
  padding: 10px;
}
label {
  padding-bottom: 10px;
}

.platform{
  padding: 10px;
}
.platform .select-platform{
  border-radius: 20px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
.gamertag{
  padding: 10px;
}

.gamertag input{
  width: 98%;
  padding: 5px;
  font-size: 15px;
}
.submit-button{
  padding-left: 10px;
  padding-top: 15px;
}
.submit-button input{
  width: 98.5%;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  background-color:#953036;
  color:white;
  border-radius: 20px;
}

.home-button {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  background-color:#464646;
  color:white;
  border-radius: 20px;
}

.home-button:hover {
  background-color: #953036;
}

/*End of search-container components*/
.loading{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  border-radius: 10px;
}
.error{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}
.errorMsg{
  padding: 10px;
}
.errorMsg button{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
/*player profile components*/
.legend-img {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  
}

.legend-img img{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  z-index: 10;
}

.player-profile{
  width: 475px;
  height: 65%;
  display:flex;
  /*background: rgb(0,0,0,0.65);*/
  background: white;
  border-radius: 20px;
  position:fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}

.player-profile .stats{
  height:100%;
  width:100%;
  position:relative;
  text-align:center;
}

.player-profile .platform-icon{
  margin-bottom:10px;
  font-size: 35px;
}

.player-profile-img-circle{
  width: 100px;
  height: 100px;
  border-radius:100%;
  position: relative;
  overflow:hidden;
  display: inline-box;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}
.player-profile-img img{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
}

.stat{
  padding-bottom: 5px;
}
.stat p{
  font-size: 17px;
}
.stat .stat-name{
  font-weight: bold;
}

.stats button{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  background-color: #222;
  color:white;
  border-radius: 5px;
  border: none;
  transition: 0.2s
}
.stats button:hover{

  background-color: #953036;
  color:white;
}
form p{
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  opacity:0.8;
}
@media (max-width: 1500px) {
  .legend-img  {
    z-index: 0;
  }
}
@media (max-width: 700px) {
  .legend-img {
    display:none
  }
  .logo{
    display:none
  }
}
