*{
  margin:0px;
  padding: 0px;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 3px;
}

/* html{
  height:100%;
  overflow: hidden;
  background-color: #953036;
  color:rgb(255, 255, 255);
  background: url(./assets/pexels-lucie-liz-3165335.jpg) no-repeat top center;
} */

.home-container{
  height:100vh;
  overflow: hidden;
  background: url(./assets/bgimg2.jfif) no-repeat center center;
}

.btn-card {
  position: absolute;
  align-content: center; 
  width: 300px;
  height: 20%;
  display:flex;
  flex-direction: column;
  /*background: rgb(0,0,0,0.65);*/
  /* background: rgba(152, 0, 253, 0.678); */
  border-radius: 20px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(255, 255, 255);
}

/* .btn-card{
  margin:auto;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 198, 248, 0.795);
} */

.btn{
  height:50px;
  width:400px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  font: 24px;
  /* background-color: black; */
  border-radius:15px;
   
}

#apex{
  background: url("./assets/apexlogo.jfif") top left;
}
#warzone{
  background: url("./assets/wzButton.jfif") center center;
}
#csgo{
  background: url("./assets/CSGO.jfif") center center;
}



